
.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-spacing {
    margin-right: 10px; /* Adjust the margin value as needed */
  }

