.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

.application-box{
    // background-color: aquamarine;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.button{
    display: flex;
    justify-content: center;
}

p,h2{
    margin: 0;
    padding: 0;
    color: #303030;
}

