<app-teacher-header [currUserId]="userId"></app-teacher-header>

<div class="main-container">
    <h1 id="title">Student's Application</h1>
   
    <ng-container *ngFor="let loanDetail of loanDetails">
        <div *ngIf="loanDetail.status === 'PENDING'" class="application-box">
            <p-card  [style]="{ width: '1000px'}"> 
                <h1>Loan ID: {{loanDetail.loanId}}</h1>
                <h2>Applicant's Username: {{getUserUsername(loanDetail.userId)}}</h2>
                <h4>Book title : {{getBookTitle(loanDetail.bookId)}}</h4>
                <ng-template pTemplate="footer">
                    <div class="button">
                        <p-button label="APPROVE" icon="pi pi-check" (click)="acceptLoan(loanDetail.loanId)"></p-button>
                        <p-button label="REJECT" icon="pi pi-times" (click)="rejectLoan(loanDetail.loanId)" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </ng-container>

</div>
