<div class="main-container">
    <div class="overlay">
        <div class="form-container">
            <h1>Login</h1>
            <p-inputGroup id="username-input">
                <p-inputGroupAddon>
                    <i class="pi pi-envelope"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="Email" type="email"/>
            </p-inputGroup>
            <p-inputGroup id="password-input">
                <p-inputGroupAddon>
                    <i class="pi pi-lock"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="Password" type="password"/>
            </p-inputGroup>
            <p-button id="submit-button" label="Login" [raised]="true" severity="secondary"></p-button>
        </div>
    </div>
</div>