<app-teacher-header [currUserId]="userId"></app-teacher-header>

<div class="main-container">
    <h1>Loan Details</h1>
    <p-table [value]="loanDetails" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>Book Title</th>
                <th>Loan Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loanDetail>
            <tr>
                <td>{{ getUserUsername(loanDetail.userId) }}</td>
                <td>{{ getStudentGrade(loanDetail.userId) }}</td>
                <td>{{ getBookTitle(loanDetail.bookId) }}</td>
                <td>{{ loanDetail.loanDate }}</td>
                <td>{{ loanDetail.dueDate }}</td>
                <td>{{ loanDetail.returnDate }}</td>
                <td>{{ loanDetail.status }}</td>
                <div class="return-button">
                    <p-button label="RETURN" icon="pi pi-user-check"></p-button>
                    <!-- <button pButton type="button" label="RETURN" icon="pi pi-user-check" (click)="returnBook(loanDetail.loanId)"></button> -->
                </div>
            </tr>
        </ng-template>
    </p-table>
</div>
