<app-teacher-header [currUserId]="userId"></app-teacher-header>

<div class="main-container">
    <h1 id="title">Loan Details</h1>
    <p-table [value]="loanDetails" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Loan Id</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Book Title</th>
                <th>Loan Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loanDetail>
            <tr>
                <td>{{ loanDetail.loanId }}</td>
                <td>{{ getUserUsername(loanDetail.userId) }}</td>
                <td>{{ getStudentGrade(loanDetail.userId) }}</td>
                <td>{{ getBookTitle(loanDetail.bookId) }}</td>
                <td>{{ loanDetail.loanDate }}</td>
                <td>{{ loanDetail.dueDate }}</td>
                <td>{{ loanDetail.returnDate }}</td>
                <td>{{ loanDetail.status }}</td>
                <td *ngIf="loanDetail.returnDate != null || loanDetail.status == 'REJECTED';else elseBlock">
                    N/A
                </td>
            <ng-template #elseBlock>
                <td>
                    <button pButton type="button" label="RETURN" (click)="returnBook(loanDetail.loanId)"></button>
                </td>
            </ng-template>
            </tr>
        </ng-template>
    </p-table>
</div>
