// .main-container{
//     width: 80vw;
//     height: 120vh;
//     display: flex;
//     // justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }

.card {
    width: 100%;
    overflow-x: auto; /* Add horizontal scroll if needed */
}

table {
    width: 80%; /* Make the table occupy 100% of its container's width */
}


.main-container{
    width: 100vw;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition effect for smoother hover */
}

.delete-button:hover {
    background-color: darkred; /* Change background color on hover */
}

.edit-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition effect for smoother hover */
}

.edit-button:hover {
    background-color: darkblue; /* Change background color on hover */
}

th,
td {
    font-size: 11.5px; /* Adjust the font size as needed */
}
