<app-teacher-header [currUserId]="userId"></app-teacher-header>
<div class="main-container">    
    <!-- <p>student({{userId}}) book-list works!</p> -->
    <h1>Book List</h1>
    <div class="card">
        <p-table [value]="books" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>ISBN</th>
                    <th>Quantity</th>
                    <th>Available Quantity</th>
                    <th>Published Date</th>
                    <th>Publisher Name</th>
                    <th>Publisher Address</th>
                    <th>Publisher Phone Number</th>
                    <th>Shelf Number</th>
                    <th>Floor Number</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-book>
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ getGenreName(book.bookId) }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.quantity }}</td>
                    <td>{{ book.availableQuantity }}</td>
                    <td>{{ book.publishedDate }}</td>
                    <td>{{ getPublisherName(book.publisherId) }}</td>
                    <td>{{ getPublisherAddress(book.publisherId) }}</td>
                    <td>{{ getPublisherPhonenumber(book.publisherId) }}</td>
                    <td>{{ getLocationShelfNumber(book.locationId) }}</td>
                    <td>{{ getLocationFloorNumber(book.locationId) }}</td>
                    <td>
                        <button class="delete-button" (onClick)="onClick(book)">Delete</button>
                    </td>
                    <td>
                        <button class="edit-button">Edit</button>
                    </td>
                    
                    <!-- <td><p-button label="Update" (onClick)="onClick(book)" [raised]="true"></p-button></td> -->
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
